@font-face {
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    src: url("../assets/css/Urbanist-Italic-VariableFont_wght") format('ttf'),
        url("../assets/css/Urbanist-VariableFont_wght") format('ttf');
}
